.div1 {
    width: 99%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 30px;
}

th {
    text-align: left;
    padding: 8px;
    width: 50%;
    font-size: 15px;
}

td {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 8px;
    width: 50%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 100%;
}

.tb {
    width: 100%;
}

th.heading {
    color: #002960;
    font-size: 24px;
}

.pic {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 30px;
    margin-top: 15px;
}

span.message {
    color: #002960;
    font-size: 24px;
    font-weight: bold;
    margin-left: 35px;
}

.button {
    width: 200px;
    padding: 10px;
    background-color: #1d64c2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 1100px;
    margin-left: 45px;
    margin-top: -100px;
}

.hrr {
    border-color: rgba(255, 255, 255, 0.944);
}

.hrrr {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.944);
}